body {
    color: #4d4d4d;
    background-color: #f6f6f4;
    //font-family: sans-serif;
    font-weight: 100;
    margin: 0;
}

a{
    color: #0bd;
    //text-decoration: none;
}


a:visited{
    color: #0bd;
}
